#ifndef SECRETS_H
#define SECRETS_H

// WLAN Zugangsdaten
#define DEFAULT_WIFI_SSID "DEINE_SSID"
#define DEFAULT_WIFI_PASS "DEIN_PASSWORT"

// MQTT Standardwerte
#define DEFAULT_MQTT_SERVER "10.0.0.10"
#define DEFAULT_MQTT_PORT 1883
#define DEFAULT_MQTT_USER "mqtt"
#define DEFAULT_MQTT_PASS "mqtt"

#endif
